USE [master]
GO
/****** Object:  Database [TpFinalCurcioOrnela]    Script Date: 22/11/2021 13:44:56 ******/
CREATE DATABASE [TpFinalCurcioOrnela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpFinalCurcioOrnela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TpFinalCurcioOrnela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpFinalCurcioOrnela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TpFinalCurcioOrnela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpFinalCurcioOrnela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpFinalCurcioOrnela]
GO
/****** Object:  Table [dbo].[Cirugia]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cirugia](
	[IdCirujano] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[IdPatologia] [int] NOT NULL,
	[IdProcedimiento] [int] NOT NULL,
	[Fecha] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cirujano]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cirujano](
	[DNI] [int] NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CirujanoRol]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CirujanoRol](
	[IdCirujano] [int] NOT NULL,
	[IdRol] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadisticaHospital]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadisticaHospital](
	[Columna] [int] NULL,
	[MiembroSuperior] [int] NULL,
	[MiembroInferior] [int] NULL,
	[Pelvis] [int] NULL,
	[RAFI] [int] NULL,
	[ReduccionCerrada] [int] NULL,
	[Osteotomia] [int] NULL,
	[Artrodecis] [int] NULL,
	[Osteodesis] [int] NULL,
	[Yeso] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Dni] [int] NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PacientePatologia]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PacientePatologia](
	[IdPaciente] [int] NOT NULL,
	[IdPatologia] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patologias]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patologias](
	[IdPatologia] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedimientos]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedimientos](
	[IdProcedimiento] [int] NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 22/11/2021 13:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cirugia] ([IdCirujano], [IdRol], [IdPaciente], [IdPatologia], [IdProcedimiento], [Fecha]) VALUES (14237825, 1, 99960781, 2, 6, CAST(N'2021-11-22' AS Date))
INSERT [dbo].[Cirugia] ([IdCirujano], [IdRol], [IdPaciente], [IdPatologia], [IdProcedimiento], [Fecha]) VALUES (22963307, 1, 99775766, 1, 3, CAST(N'2021-11-22' AS Date))
INSERT [dbo].[Cirugia] ([IdCirujano], [IdRol], [IdPaciente], [IdPatologia], [IdProcedimiento], [Fecha]) VALUES (30234678, 1, 99775766, 1, 4, CAST(N'2021-11-22' AS Date))
GO
INSERT [dbo].[Cirujano] ([DNI], [Apellido], [Nombre], [Edad]) VALUES (14237825, N'Albarracin', N'Juan Pablo', 58)
INSERT [dbo].[Cirujano] ([DNI], [Apellido], [Nombre], [Edad]) VALUES (22963307, N'Villena', N'Daniel', 42)
INSERT [dbo].[Cirujano] ([DNI], [Apellido], [Nombre], [Edad]) VALUES (32980534, N'Peralta', N'Juan', 33)
GO
INSERT [dbo].[CirujanoRol] ([IdCirujano], [IdRol]) VALUES (14237825, 1)
INSERT [dbo].[CirujanoRol] ([IdCirujano], [IdRol]) VALUES (22963307, 1)
INSERT [dbo].[CirujanoRol] ([IdCirujano], [IdRol]) VALUES (32980534, 1)
GO
INSERT [dbo].[EstadisticaHospital] ([Columna], [MiembroSuperior], [MiembroInferior], [Pelvis], [RAFI], [ReduccionCerrada], [Osteotomia], [Artrodecis], [Osteodesis], [Yeso]) VALUES (21, 17, 18, 2, 6, 5, 19, 17, 1, 10)
GO
INSERT [dbo].[Paciente] ([Dni], [Apellido], [Nombre], [Edad]) VALUES (16123988, N'Araya', N'Marcos', 52)
INSERT [dbo].[Paciente] ([Dni], [Apellido], [Nombre], [Edad]) VALUES (23060221, N'Cuda', N'Dario', 51)
INSERT [dbo].[Paciente] ([Dni], [Apellido], [Nombre], [Edad]) VALUES (23159922, N'Yanina', N'Escudero', 47)
GO
INSERT [dbo].[PacientePatologia] ([IdPaciente], [IdPatologia]) VALUES (16123988, 4)
INSERT [dbo].[PacientePatologia] ([IdPaciente], [IdPatologia]) VALUES (16123988, 1)
INSERT [dbo].[PacientePatologia] ([IdPaciente], [IdPatologia]) VALUES (23060221, 1)
GO
INSERT [dbo].[Patologias] ([IdPatologia], [Descripcion]) VALUES (1, N'Columna')
INSERT [dbo].[Patologias] ([IdPatologia], [Descripcion]) VALUES (2, N'MiembroSuperior')
INSERT [dbo].[Patologias] ([IdPatologia], [Descripcion]) VALUES (3, N'MiembroInferior')
GO
INSERT [dbo].[Procedimientos] ([IdProcedimiento], [Descripcion]) VALUES (1, N'ReduccionCerrada')
INSERT [dbo].[Procedimientos] ([IdProcedimiento], [Descripcion]) VALUES (2, N'RAFI')
INSERT [dbo].[Procedimientos] ([IdProcedimiento], [Descripcion]) VALUES (3, N'Osteotomia')
GO
INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (1, N'Cirujano')
INSERT [dbo].[Rol] ([IdRol], [Descripcion]) VALUES (2, N'Ayudante')
GO
USE [master]
GO
